@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');
body{
    font-family: Maven Pro;
    margin:0;
    padding:0;
}

header h1:first-child{
    font-family: 'Gilda Display', serif;
    margin: 0 0 0 20px;
    font-size: 10px;
    letter-spacing:3px;
    color: rgb(249, 249, 250);
}

header div:nth-child(2) h1:first-child{
    font-size: 35px;
    letter-spacing:0;
    color:white;
    font-family: 'Gilda Display', serif;
    font-weight: 900;
    text-align: left;
    line-height: 40px;
    margin: 0;
}

body header div p:last-child{
    font-size: 8px;
    text-align: center;
}

main header div:nth-child(2){
    background: linear-gradient(45deg, #8507e1 , #3dc8d5);
    color: white;
    border-radius: 5px;
    margin:50px auto; 
    width: 140px;
    height: 110px;
    text-align: center;
    padding: 3px 3px;
}
main {
    background-color: rgb(6, 1, 19) ;
    height:400px;
    width: 100vw;
}
main nav:last-child ul{
    text-align: right;
    list-style: none;
    line-height: 30px;
    margin: 0 20px 0 0;
}
main nav:last-child ul li a{
    text-decoration: none;
    color: white;
}
body section:first-of-type{
    background-color: white;
    height:200px;
    height:100;
}

body section:nth-of-type(2) img{
    width: 800px;
    height: 100px;
    margin: 0 0 0 100px;
    line-height: 0px;
}
body section:nth-of-type(2) h2:first-of-type{
    font-size: 50px; 
    margin: 0 0 0 100px;
    line-height: 25px;
}
body section:last-of-type p:first-of-type{
    font-size:20px; 
    margin: 100px 900px 0px 100px;
}
body section:last-of-type p:last-of-type{
    font-size:20px; 
    margin: 20px 700px 200px 100px;
}

article img:first-of-type{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}
article h3:first-of-type{
    font-family: 'Gilda Display', serif;
    font-size: 30px;
    margin: 20px 0 10px 380px;
}
article p:first-of-type{
    margin: 10px 0 100px 380px;

}

article img:nth-of-type(2){
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}
article h3:nth-of-type(2){
    font-family: 'Gilda Display', serif;
    font-size: 30px;
    margin: 20px 0 10px 380px;
}
article p:nth-of-type(2){
    margin: 10px 0 100px 380px;
}

article img:last-of-type{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}
article h3:last-of-type{
    font-family: 'Gilda Display', serif;
    font-size: 30px;
    margin: 20px 0 10px 380px;
}
article p:last-of-type{
    margin: 10px 0 100px 380px;

}